// COLORS
$color-primary: #34495e;
$color-primary-light: #34495e;
$color-primary-dark: #000000;

$color-light-grey-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-gold: #ccad0b66;

// FONT
$default-fontsize: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
